{% extends "govuk/template.njk" %}
{% from "hmpps/components/court-cases-release-dates/service-header/macro.njk" import serviceHeader %}
{% from "hmpps/components/court-cases-release-dates/footer/macro.njk" import footer %}

{% block head %}
  <link href="{{ '/assets/css/index.css' | assetMap }}" rel="stylesheet"/>


  {% if feComponents.cssIncludes %}
    {% for css in feComponents.cssIncludes %}
      <link href="{{ css }}" nonce="{{ cspNonce }}" rel="stylesheet" />
    {% endfor %}
  {% endif %}


{% endblock %}

{% block pageTitle %}{{pageTitle | default(applicationName)}}{% endblock %}

{% block header %}
  {% if feComponents.header %}
    {{ feComponents.header | safe }}
  {% else %}
    {% include "./header.njk" %}
  {% endif %}
  {{
  serviceHeader({
    environment: environment,
    prisonNumber: prisoner.prisonerNumber
  })
  }}
{% endblock %}

{% block bodyStart %}
{% endblock %}

{% block footer %}

    {{ footer({
      environment: environment,
      attributes: {
        "data-qa": "ccrds-footer"
      }
    })
    }}

{% endblock %}


{% block bodyEnd %}
  <script type="module" src="{{ '/assets/js/index.js' | assetMap }}"></script>
{% endblock %}
