{% extends "../partials/layout.njk" %}
{% from "govuk/components/back-link/macro.njk" import govukBackLink %}
{% from "govuk/components/radios/macro.njk" import govukRadios %}
{% from "govuk/components/button/macro.njk" import govukButton %}
{% from "govuk/components/error-summary/macro.njk" import govukErrorSummary %}
{% from "govuk/components/textarea/macro.njk" import govukTextarea %}

{% set pageTitle = applicationName + " - Enter No longer of interest reason" %}
{% set mainClasses = "app-container govuk-body" %}

{% block beforeContent %}
  {{ super() }}
  <nav>
    {{ govukBackLink({
      attributes: { 'data-qa': 'back-link' },
      text: "Back",
      href: model.backlink()
    }) }}
  </nav>
{% endblock %}

{% block content %}

{% if model.errors.length %}
  <div class="govuk-grid-row">
    <div class="govuk-grid-column-full">
      {{ govukErrorSummary({
        titleText: "There is a problem",
        errorList: model.errorList()
      }) }}
    </div>
  </div>
{% endif %}

<div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">
      <form class="form" method="post">
        <input type="hidden" name="_csrf" value="{{ csrfToken }}"/>
        <h1 class="govuk-heading-l">
            <span class="govuk-caption-xl">Record Immigration Information</span>
            <span data-qa="noLongerOfInterestQuestion">
              Why is {{prisoner.firstName | title}} {{prisoner.lastName | title}} no longer of interest?
            </span>
        </h1>

         {% set commentHtml %}
            {{ govukTextarea({
            name: "otherReason",
            id: "otherReason",
            value: model.otherReason,
            label: {
                text: "Enter the reason the Home Office has provided."
            },
            errorMessage: model.messageForField('otherReason')
            }) }}
        {% endset -%}

        {{ govukRadios({
            id: "noLongerOfInterestReason",
            name: "noLongerOfInterestReason",
            errorMessage: model.messageForField('noLongerOfInterestReason'),
            items: [
                {
                    value: "RIGHT_TO_REMAIN",
                    text: "Right to Remain",
                    checked: model.getIsChecked('RIGHT_TO_REMAIN')
                },
                {
                    value: "BRITISH_CITIZEN",
                    text: "British National",
                    checked: model.getIsChecked('BRITISH_CITIZEN')
                },
                {
                    value: "OTHER_REASON",
                    text: "Other",
                    checked: model.getIsChecked('OTHER_REASON'),
                    conditional: {
                        html: commentHtml
                    }
                }
            ]
       }) }}


        <div class="govuk-button-group">
          {{ govukButton({
            text: "Continue",
            type: submit,
            preventDoubleClick: true,
            attributes: { 'data-qa': 'submit-form' }
          }) }}
          {{ govukButton({
            attributes: { 'data-qa': 'cancel-button' },
            text: "Cancel",
            classes: "govuk-button--secondary",
            href: model.cancelLink()
          }) }}
        </div>
      </form>
    </div>
  </div>

{% endblock %}

